# Firebase Client Credentials
VITE_FIREBASE_API_KEY="AIzaSyCd8z0eKY0-Sf83JTG3llir3kxEIHPWTt4"
VITE_FIREBASE_AUTH_DOMAIN="baladymcq.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="baladymcq"
VITE_FIREBASE_STORAGE_BUCKET="baladymcq.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="921255061752"
VITE_FIREBASE_APP_ID="1:921255061752:web:ea5adcfe9ee3a95c2af30d"
VITE_FIREBASE_MEASUREMENT_ID="G-G2PDRXJQLN"

